<%- include ('../partials/header') %>



<div class="container" style="width: 600px; margin-top: 20px;">
    <header class="jumbotron">
        <h1><span class="glyphicon glyphicon-log-in"></span> LOGIN!</h1>
    </header>

    <div class="container" style="width: 600px;">
        <form action="/login" method = 'POST'>
            <div class="form-grouop">
                <label><strong>Username:</strong></label>
                <input type="text" name="username" class="form-control" placeholder="username">
            </div>

            <div class="form-grouop">
                <label><strong>Password:</strong></label>
                <input type="password" name="password" class="form-control" placeholder="password">
            </div>

            <br>

            <button class="btn btn-lg btn-success btn-block">Submit!</button>
        </form>
    </div>
</div>

<%- include ('../partials/footer') %>