<%- include ('../partials/header') %>

<div class="container" style="padding-top: 40px;">
    <div class="row">
        <h1 class = "jumbotron" style="text-align: center; width:80%; margin-left: 100px;">Enter Details of the imperilled animal:</h1>
        <div style="margin: 30px auto; width: 30%;">
            <form action="/pets" method="POST">
                <div class="form-group">
                    <label><strong>Name:</strong></label>
                    <input type="text" name="name" class="form-control" placeholder="name" required>
                </div>
                <div class="form-group">
                    <label><strong>Species:</strong></label>
                    <input type="text" name="species" class="form-control" placeholder="species" required>
                </div>
                <div class="form-group">
                    <label><strong>Image Url:</strong></label>
                    <input type="text" name="image" class="form-control" placeholder="image url" required>
                </div>
                <div class="form-group">
                    <label><strong>Adoption Status:</strong></label>
                    <input type="radio" name="adopt" value="true" required>  adopted
                    <input type="radio" name="adopt" value="false" required> not adopted yet
                </div>
                <div class="form-group">
                    <label><strong>Description:</strong></label>
                    <textarea name="description" class="form-control" placeholder="description" row="70" required></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-md btn-success">Submit!</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include ('../partials/footer') %>